<div class='file-details'>
  <p>
    <label>File:</label>
    <strong><%= @file_contents[:basename] %></strong>
  </p>
  <p>
    <label>Size:</label>
    <%= number_to_human_size @file_contents[:size] %>
  </p>
  <p>
    <label>Lines:</label>
    <%= number_with_delimiter @file_contents[:lines] %>
  </p>
</div>

<% if @truncated %>
  <p>
    Displaying last 500 lines of <%= @file_contents[:basename] %>.
    <%= link_to 'Show all lines', logs_file_contents_path(filepath: @file_contents[:fullpath], show_all: true), class: 'display-all-lines' %> <span class='disp-all-caption'>(This may respond slowly)</span>
  </p>
<% end %>

<hr/>

<pre><%= @file_contents[:content] %></pre>
