<div class='sh-log-panel'>
  <div class='panel'>
    <ul class='folder-list'>
      <li class='directory' data-full-path="<%= @directory %>">
        <span class='chevron glyphicon glyphicon-chevron-down'></span>
        <span class='glyphicon glyphicon-folder-close'></span>
        <span class='basename'><%= File.basename(@directory) %></span>
        <ul class='loading initial'><li>Loading...</li></ul>
      </li>
    </ul>
  </div>
</div>
<div class='sh-log-panel right'>
  <div class='panel file-contents throbbing'>
    Click a file in the left pane to view its contents.
  </div>
</div>

<script>
  intializeLogInspector( '<%= logs_dir_contents_path %>', '<%= logs_file_contents_path %>', "<%= @directory %>" );
</script>
